.jumbotron {
  background: url(../media/pirate-ship.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Germania One', cursive;
}

footer {
  background-color: lightgray;
  margin-top: 20px;
}