
h3.title, footer {
  font-family: 'Raleway', sans-serif;
}

h4.lead {
  color: lightblue;
}

div.row {
  padding-left: 50px;
  padding-right: 50px;
}

h5.subhead {
  margin-bottom: 20px;
}

.carousel {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  max-height: auto;
} 