
/*.jumbotron {
  background-image: url(/media/pirate-ship.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; //close enough?
}*/

.jumbotron {
  background: url(/media/pirate-ship.jpg) no-repeat fixed center;
  object-fit: cover;
  font-family: 'Germania One', cursive;
}


div.image {
  content:url(/media/pirate.jpg);
  width: 20%;
  height: 20%;
}

h3.title {
  font-family: 'Raleway', sans-serif;
}

p {
  margin-right: 50px;
}

footer {
  background-color: lightgray;
}