
/*.jumbotron {
  background-image: url(/media/pirate-ship.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom; //close enough?
}*/

.jumbotron {
  background: url(../media/pirate-ship.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Germania One', cursive;
}

h3.title, footer {
  font-family: 'Raleway', sans-serif;
}

h4.lead {
  color: lightblue;
}

p {
  margin-right: 50px;
}

footer {
  background-color: lightgray;
  margin-top: 20px;
}

h5.subhead {
  margin-bottom: 20px;
}

.carousel {
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  max-height: auto;
} 